{% extends 'base.html' %}
{% block content %}

    <form method="POST"> 
         
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <div class="p-5 border rounded border-dark">
                {% if not obj %}
                    <legend class="d-flex justify-content-center">NEW POST</legend> 
                {% else %}
                    <legend class="d-flex justify-content-center">UPDATE POST</legend>
                {% endif %}
                <hr>
                {{ form.as_p }}
                <div class="d-flex justify-content-evenly">
                    <a href="{{ request.META.HTTP_REFERER}}" class="btn btn-primary" role="button" >BACK</a>
                    <button class='btn btn-outline-success' type="submit">POST</button>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}